ul.icons {
  cursor: default;
}

ul.icons li {
  display: inline-block;
  padding-left: 0.75em;
}

ul.icons a {
  display: inline-block;
  width: 4.75em;
  height: 4.75em;
  line-height: 2.8em;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 100%;
  color: #aaa;
  transition: background-color 0.25s ease-in-out;
}

ul.icons a:hover {
  background: rgba(0,0,0,0.025);
}

footer {
  background-color: #e6e6e6;
  position: relative;
  margin: 0;
  text-align: center;
  padding: 8em 0 8em 0;
  box-shadow: inset 0 1px 0 0 #e6e6e6;
}

footer .copyright {
  margin-top: 3em;
  font-size: 1.2em;
  color: #aaa;
}

footer .copyright a {
  color: inherit;
}

footer ul.icons a {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

.fa:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 2.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}