.message-btn button a , .message-btn button a:hover {
  color: white;
  text-decoration: none;
}

.message-box textarea:focus {
  outline: none;
  border:solid 1px #66afe9; 
}

.message-box textarea {
  border: 1px solid #cccccc;
}

.navbar {
  border: 0px;
  background-color: grey;
  opacity: 0.7;
}

.nav.nav-pills.pull-right li {
  line-height: 4.0;
}
.nav.nav-pills.pull-right > li > a {
  border-radius: 0px;
  font-size: 16px;
  opacity: 0.7;
  color:black;
}

.nav.nav-pills.pull-right li.active a {
  background-color: black;
  color:white;
}

.overlay-gallery img {
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  width:50%;
  height: 50%;
  display: block;
}

.overlay-gallery{
  background-color: black;
  opacity: 0.9;
  position: fixed;

  width: 100%;
  height: 100%;

  top:0;
  left: 0;
  z-index: 9999;
  display: none;
}

.thumbnail-photo img{
  width: 100%;
}

#about {
  color:white;
  font-family: 'Rambla', sans-serif;
}

#about h1 , #contact h1{
  padding-bottom: 30px;
}

#about p {
  font-size:20px;
}

#contact > h3{
  padding-bottom: 70px;
}

article {
  background-color: red;
  -webkit-transition:margin-top 0.2s ease-out;
  -moz-transition:margin-top 0.2s ease-out;
  transition:margin-top 0.2s ease-out
}
article:hover {
    margin-top:-24%;
}

.hidden-articles h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden-articles {
  z-index:2;
  top:500px;
}

.profile {
  border-radius: 100%;
  box-shadow: 1px 1px 3px 3px #97321f;
  height: 100%;
  width: 100%;
  min-height: 100px;
  min-width: 100px;
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin-left: 30%;
}

.message-btn {
  padding-left: 10px;
}

.contact-box {
  margin-left: 30%;
  margin-right: 30%;
}

.field-box {
  padding-right: 0;
}

.message-box {
  padding: 20px 0px 20px 15px;
}

input.form-control {
  background: #f8f8f9;
}

textarea {
  width: 100%;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  background: #f8f8f8;
  padding: 0.85em 1em 0.85em 1em;
  border-radius: 0.25em;
  border: 0;
}

#scroll {
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.container {
  padding: 0;
}

#home {
  background-image: url(../images/background.jpg);
}

#gallery {
  background-color: blue;
}

#contact {
  background-color: white;
  position: relative;
  z-index: 3;
}

#about {
  background-color: #d95b43;
  z-index:1;
}

section {
  padding: 4%;
  z-index: 1;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header-title {
  margin-left: 10px;
  font-family: 'Rambla', sans-serif;
  font-size: 40px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%;
  }

  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}