.boat {
	display: block;
    margin: auto;
    margin-top: 200px;
}
.layer1 {
    height: 600px;
    width: 100%; 
}

.cloud {
	width: 280px;
	height: 280px;
  background-image: url(../images/cloud.png);
}

.cloud-1 {
	float:left;
}

.cloud-2 {
	float:right;
}

.cloudSwing {
  -webkit-animation: cloudSwing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: cloudSwing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: cloudSwing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes cloudSwing {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);    
  }

  100% {
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);  
  }
}

@-moz-keyframes cloudSwing {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);    
  }

  100% {
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);  
  }
}

@-ms-keyframes cloudSwing {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);    
  }

  100% {
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);  
  }
}

@keyframes cloudSwing {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);    
  }

  100% {
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);  
  }
}
.boatSwing {
  -webkit-animation: boatSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: boatSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: boatSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);  

}

@-webkit-keyframes boatSwing {
  0% {
    -webkit-transform: translate3d(25%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(25%,0,0) rotateZ(-10deg);
    transform: translate3d(25%,0,0) rotateZ(-10deg);
  }

  100% {
    -webkit-transform: translate3d(-25%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(-25%,0,0) rotateZ(10deg);
    transform: translate3d(-25%,0,0) rotateZ(10deg);
  }
}

@-moz-keyframes boatSwing {
  0% {
    -webkit-transform: translate3d(25%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(25%,0,0) rotateZ(-10deg);
    transform: translate3d(25%,0,0) rotateZ(-10deg);
  }

  100% {
    -webkit-transform: translate3d(-25%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(-25%,0,0) rotateZ(10deg);
    transform: translate3d(-25%,0,0) rotateZ(10deg);
  }
}

@-ms-keyframes boatSwing {
  0% {
    -webkit-transform: translate3d(25%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(25%,0,0) rotateZ(-10deg);
    transform: translate3d(25%,0,0) rotateZ(-10deg);
  }

  100% {
    -webkit-transform: translate3d(-25%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(-25%,0,0) rotateZ(10deg);
    transform: translate3d(-25%,0,0) rotateZ(10deg);
  }
}

@keyframes boatSwing {
  0% {
    -webkit-transform: translate3d(25%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(25%,0,0) rotateZ(-10deg);
    transform: translate3d(25%,0,0) rotateZ(-10deg);
  }

  100% {
    -webkit-transform: translate3d(-25%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(-25%,0,0) rotateZ(10deg);
    transform: translate3d(-25%,0,0) rotateZ(10deg);
  }
}